.carruselContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 200px;
}

.carrusel {
  margin-top: 200px;

  width: 80%; /* Ancho del carrusel */
  height: 200px; /* Altura fija para todas las imágenes */
  position: relative;

} 

.carrusel-imagenes img {
  width: 100%;
  display: none;
  transition: opacity 0.5s ease;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
  height: 200px;
  border-radius: 10px;
}

.carrusel-imagenes img:first-child {
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

#anterior {
  left: 0;
}

#siguiente {
  right: 0;
}